n8n-workflow.json
{
  "name": "News Aggregator",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 1200],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      }
    },
    {
      "id": "rss-ukraine",
      "name": "RSS - Ukraine War",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [480, 240],
      "parameters": {
        "url": "https://news.google.com/rss/search?q=Ukraine+war&hl=en-US&gl=US&ceid=US:en"
      }
    },
    {
      "id": "rss-world",
      "name": "RSS - World Politics",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [480, 440],
      "parameters": {
        "url": "https://news.google.com/rss/search?q=world+politics&hl=en-US&gl=US&ceid=US:en"
      }
    },
    {
      "id": "rss-tech",
      "name": "RSS - Tech & Programming",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [480, 640],
      "parameters": {
        "url": "https://news.google.com/rss/search?q=software+engineering+OR+programming&hl=en-US&gl=US&ceid=US:en"
      }
    },
    {
      "id": "rss-ai",
      "name": "RSS - AI",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [480, 840],
      "parameters": {
        "url": "https://news.google.com/rss/search?q=artificial+intelligence&hl=en-US&gl=US&ceid=US:en"
      }
    },
    {
      "id": "rss-sports",
      "name": "RSS - Sports",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [480, 1040],
      "parameters": {
        "url": "https://news.google.com/rss/search?q=sports+news&hl=en-US&gl=US&ceid=US:en"
      }
    },
    {
      "id": "rss-running",
      "name": "RSS - Running",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [480, 1240],
      "parameters": {
        "url": "https://news.google.com/rss/search?q=running+marathon&hl=en-US&gl=US&ceid=US:en"
      }
    },
    {
      "id": "rss-speedcubing",
      "name": "RSS - Speedcubing",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [480, 1440],
      "parameters": {
        "url": "https://news.google.com/rss/search?q=speedcubing+OR+%22rubiks+cube%22&hl=en-US&gl=US&ceid=US:en"
      }
    },
    {
      "id": "rss-science",
      "name": "RSS - Science",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [480, 1640],
      "parameters": {
        "url": "https://news.google.com/rss/search?q=science+breakthrough&hl=en-US&gl=US&ceid=US:en"
      }
    },
    {
      "id": "merge-feeds",
      "name": "Merge All Feeds",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [780, 1200],
      "parameters": {
        "mode": "append",
        "numberInputs": 8
      }
    },
    {
      "id": "code-process",
      "name": "Process Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 1200],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "var items = $input.all();\nvar seenUrls = {};\nvar result = [];\nvar cutoff = new Date(Date.now() - 24 * 60 * 60 * 1000);\nvar LIMIT = 50;\n\nfunction extractSource(d) {\n  if (d.source) {\n    if (typeof d.source === 'string') return d.source;\n    if (d.source._) return d.source._;\n    if (d.source.$ && d.source.$.url) return d.source.$.url;\n  }\n  var m = (d.title || '').match(/ - ([^-]+)$/);\n  return m ? m[1].trim() : 'News';\n}\n\nfor (var i = 0; i < items.length; i++) {\n  if (result.length >= LIMIT) break;\n  var d = items[i].json;\n  var url = d.link || d.guid || '';\n  if (!url || seenUrls[url]) continue;\n  var pubDate = d.isoDate ? new Date(d.isoDate) : d.pubDate ? new Date(d.pubDate) : new Date();\n  if (pubDate < cutoff) continue;\n  seenUrls[url] = true;\n\n  var cleanTitle = (d.title || 'Untitled').replace(/ - [^-]+$/, '').substring(0, 300);\n  var description = (d.contentSnippet || d.content || d.summary || d.description || '').replace(/<[^>]*>/g, '').substring(0, 600);\n\n  result.push({\n    json: {\n      title: cleanTitle,\n      url: url,\n      description: description,\n      source: extractSource(d),\n      published_at: pubDate.toISOString()\n    }\n  });\n}\n\nreturn result;"
      }
    },
    {
      "id": "code-prepare",
      "name": "Prepare Groq Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 1200],
      "parameters": {
        "jsCode": "// Prompt source-of-truth: prompts/news-curator.md — edit there, paste here, save workflow.\nvar article = $json;\nvar prompt = \"You are a news curator for a Ukrainian programmer interested in:\\n\" +\n  \"- Ukraine news, Russia-Ukraine war, Ukrainian politics and society\\n\" +\n  \"- World politics, international conflicts, wars, geography\\n\" +\n  \"- Software engineering, programming, developer tools, open source\\n\" +\n  \"- Artificial intelligence and machine learning\\n\" +\n  \"- Speedcubing (Rubik cube competitions and world records)\\n\" +\n  \"- Running, marathons, endurance sports\\n\" +\n  \"- Sports news (football, athletics, etc.)\\n\\n\" +\n  \"Rate this article 1-10 for relevance to this person.\\n\" +\n  \"Be strict: 8-10 for truly important/exciting news, 6-7 for interesting, 1-5 for unrelated.\\n\\n\" +\n  \"Title: \" + article.title + \"\\n\" +\n  \"Description: \" + (article.description || \"\").substring(0, 500) + \"\\n\\n\" +\n  \"Respond ONLY with valid JSON (no extra text, no markdown):\\n\" +\n  \"{\\\"score\\\": <1-10>, \\\"summary\\\": \\\"<exactly 2 English sentences>\\\", \\\"topics\\\": [\\\"<tag>\\\", ...]}\\n\\n\" +\n  \"Valid topic tags: ukraine, war, politics, tech, ai, programming, speedcubing, running, sports, geography, world, science\";\n\nreturn [{\n  json: {\n    title: article.title,\n    url: article.url,\n    description: article.description,\n    source: article.source,\n    published_at: article.published_at,\n    _groqBody: {\n      model: \"llama-3.3-70b-versatile\",\n      messages: [{ role: \"user\", content: prompt }],\n      temperature: 0.1,\n      max_tokens: 350,\n      response_format: { type: \"json_object\" }\n    }\n  }\n}];"
      }
    },
    {
      "id": "http-groq",
      "name": "Groq AI Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1620, 1200],
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ $json._groqBody }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.GROQ_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "code-parse",
      "name": "Parse Groq Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1900, 1200],
      "parameters": {
        "jsCode": "var groqResponse = $json;\nvar article = $(\"Prepare Groq Request\").item.json;\nvar content = (groqResponse && groqResponse.choices && groqResponse.choices[0] && groqResponse.choices[0].message) ? groqResponse.choices[0].message.content : \"{}\";\n\nvar ai;\ntry {\n  var cleaned = content.replace(/```json\\n?|```\\n?/g, \"\").trim();\n  ai = JSON.parse(cleaned);\n} catch (e) {\n  return [];\n}\n\nvar score = parseInt(ai.score);\nif (!score || score < 1 || score > 10) return [];\n\nreturn [{\n  json: {\n    title: article.title,\n    url: article.url,\n    source: article.source,\n    published_at: article.published_at,\n    summary: (ai.summary || \"\").substring(0, 500),\n    score: score,\n    topics: Array.isArray(ai.topics) ? ai.topics.slice(0, 6) : []\n  }\n}];"
      }
    },
    {
      "id": "if-score",
      "name": "Score Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2180, 1200],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "score-check",
              "leftValue": "={{ $json.score }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "http-supabase",
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2460, 1200],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/articles?on_conflict=url",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ { title: $json.title, url: $json.url, source: $json.source, published_at: $json.published_at, summary: $json.summary, score: $json.score, topics: $json.topics } }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=ignore-duplicates"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {"node": "RSS - Ukraine War",         "type": "main", "index": 0},
          {"node": "RSS - World Politics",      "type": "main", "index": 0},
          {"node": "RSS - Tech & Programming",  "type": "main", "index": 0},
          {"node": "RSS - AI",                  "type": "main", "index": 0},
          {"node": "RSS - Sports",              "type": "main", "index": 0},
          {"node": "RSS - Running",             "type": "main", "index": 0},
          {"node": "RSS - Speedcubing",         "type": "main", "index": 0},
          {"node": "RSS - Science",             "type": "main", "index": 0}
        ]
      ]
    },
    "RSS - Ukraine War":        {"main": [[{"node": "Merge All Feeds", "type": "main", "index": 0}]]},
    "RSS - World Politics":     {"main": [[{"node": "Merge All Feeds", "type": "main", "index": 1}]]},
    "RSS - Tech & Programming": {"main": [[{"node": "Merge All Feeds", "type": "main", "index": 2}]]},
    "RSS - AI":                 {"main": [[{"node": "Merge All Feeds", "type": "main", "index": 3}]]},
    "RSS - Sports":             {"main": [[{"node": "Merge All Feeds", "type": "main", "index": 4}]]},
    "RSS - Running":            {"main": [[{"node": "Merge All Feeds", "type": "main", "index": 5}]]},
    "RSS - Speedcubing":        {"main": [[{"node": "Merge All Feeds", "type": "main", "index": 6}]]},
    "RSS - Science":            {"main": [[{"node": "Merge All Feeds", "type": "main", "index": 7}]]},
    "Merge All Feeds":          {"main": [[{"node": "Process Articles",     "type": "main", "index": 0}]]},
    "Process Articles":         {"main": [[{"node": "Prepare Groq Request", "type": "main", "index": 0}]]},
    "Prepare Groq Request":     {"main": [[{"node": "Groq AI Analysis",     "type": "main", "index": 0}]]},
    "Groq AI Analysis":         {"main": [[{"node": "Parse Groq Response",  "type": "main", "index": 0}]]},
    "Parse Groq Response":      {"main": [[{"node": "Score Filter",         "type": "main", "index": 0}]]},
    "Score Filter": {
      "main": [
        [{"node": "Save to Supabase", "type": "main", "index": 0}],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
